.header{
    text-align: center;
    margin: 20px 0;
    background-image: linear-gradient(to right, rgb(0, 4, 255),rgba(255, 255, 0, 0.774), rgb(45, 212, 12));
    padding: 10px;
}
.header h2{
    font-size: 28px;
}
.informacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, rgb(7, 23, 255),rgb(195, 0, 255), rgba(7, 23, 255), rgb(195, 0, 255), rgb(7, 23, 255));
}
.informacoes h2{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.informacoes a{
    color: white;
    padding: 5px 0;
    margin: 5px 0;
}